/*-------------------------------------- GLOBALS ---------------------------------------------*/

body{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(21, 21, 21);
    color: azure;
}
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
header h1{
    padding: 20px;
    width: fit-content;
}

button{
    padding: 5px;
    border-radius: 10px;
    border:none;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: rgb(0, 208, 197);
    color: rgb(0, 0, 0);
    box-shadow: none;
    cursor: pointer;
}

/*-------------------------------------- NAVBAR ---------------------------------------------*/

.menu{
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
}
.painter {
    position: absolute;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 10px;
}
.painter button {
    font-size: 1.5rem;
}
.canvas_driver{
    display: flex;
    align-items:flex-start;
    gap: 50px;
}
.selected{
    background: aliceblue;
    border: 2px solid rgb(0, 255, 242);
    color:#3f3f3f;
}
.color-selector{
    background: rgb(0, 208, 197);
    border-radius: 5px;
    width: 5rem;
    height: 3rem;
}
#range{
    width: 150px;
    background: rgb(0, 208, 197) !important;
}
/*------------------------------------------ CANVAS -----------------------------------------*/
.canvas_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    height: calc(100vh - 100px);
    width: 100%;
}
#canvas{
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
}
.filters{
    display: flex;
    position: absolute;
    right: 30px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}
.filters button {
    padding: 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    margin: 5px 0px;
    display: flex;
    transform: rotate( 15deg);
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

.filters button:hover {
    background-color: black;
    color: aliceblue;
    border-bottom: 1px solid wheat;
}
.filters .filtro-selected{
    transform: rotate(0deg);
}
    
.filtro-selected{
    background-color: rgb(43, 0, 67);
    color: rgb(207, 233, 255);
    border-bottom: 1px solid wheat;
}