:root {
    --fontP: "Quicksand", sans-serif;
    --primary: rgb(24, 174, 179);
    --secondary: rgb(64, 0, 98);
    --light: rgb(204, 204, 204);
    --light_dark: rgb(50, 50, 50);
    --dark: rgb(21, 21, 21);
  }  
/*--------
primary: rgb(0, 255, 242),
lightdark: rgb(34, 34, 34)
----------*/
/*------------------------------ GLOBALS ---------------------------------------------*/
body{
    font-family: var(--fontP);
    background-color: var(--dark);
    color: azure;
}
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(17, 17, 17);
}
header h1{
    padding: 20px;
}

button{
    padding: 5px;
    border-radius: 10px;
    border:none;
    border-bottom: 1px solid rgb(17, 17, 17);
    text-align: center;
    background-color: var(--primary);
    color: rgb(17, 17, 17);
    box-shadow: none;
    cursor: pointer;
}

/*-------------------------------------- NAVBAR ---------------------------------------------*/

.data_container{
    display: flex;
}

.canvas_driver{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 100px;
}
.canvas_driver div{
    display: flex;
    gap: 20px;
}
.canvas_driver label{
    margin-right: 50px;
}

.canvas_driver .file_sl{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 2px solid var(--primary);
    background-color: rgb(17, 17, 17);
    color: var(--primary);
    padding: 10px;
    border-radius: 3px;
    transition: all .8s ease-out;
}
.canvas_driver .file_sl:hover {
    background-color: var(--light);
    color: var(--dark);
}

#reset{
    padding: 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    background-color: rgb(17, 17, 17);
    color: var(--primary);
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}
#reset:hover{
    background-color: rgb(207, 233, 255);
    color: var(--dark);
}

#file_sl{
    display: none;
}
#save{
    padding: 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: var(--primary);
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

.painter {
    position: absolute;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 10px;
}
.painter article {
    display: flex;
    align-items: center;
    gap: 10px;
}
.painter button {
    font-size: 1.5rem;
}

.selected{
    background: var(--dark);
    border: 2px solid var(--dark);
    color:var(--primary);
}
.color-selector{
    background: var(--primary);
    border-radius: 5px;
    width: 5rem;
    height: 3rem;
}


#range{
    width: 150px;
}


/*------------------------------------------ CANVAS -----------------------------------------*/
.canvas_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--light_dark);
    height: calc(100vh - 100px);
    width: 100%;
}
#canvas{
    border: 1px solid rgb(17, 17, 17);
    border-radius: 15px;
    margin: 10px;
}
.filters{
    display: flex;
    position: absolute;
    overflow-y: scroll;
    height: 70vh;
    right: 30px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}
.filters::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}

.filters::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

.filters::-webkit-scrollbar-thumb {
    background-color: var(--primary);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

.filters button {
    padding: 30px 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    margin: 5px 0px;
    display: flex;
    transform: rotate( 15deg);
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

.filters button:hover {
    background-color: rgb(17, 17, 17);
    color: aliceblue;
    border-bottom: 1px solid var(--primary);
}
.filters .filtro-selected{
    transform: rotate(0deg);
}
    
.filtro-selected{
    background-color: var(--secondary);
    color: rgb(207, 233, 255);
    border: 1px solid rgb(0, 255, 242);
}

.disabled{
    background-color: gray;
    text-decoration: line-through;
    cursor: default;
    transition: none;
}